.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  position: relative;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 30px;
  margin: 50px 30px;
}

.cart-container {
  padding: 10px;
  background: rgba(255, 153, 0, 0.16);
}

@media screen and (max-width:1200px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}