.cart {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 25px 15px;
}

.cart-title {
  font-size: 21px;
  text-align: center;
}

.cart-item {
  font-size: 18px;
  text-transform: capitalize;
  margin: 10px 0;
}

.cart-total-price,
.cart-shipping,
.cart-tax {
  font-size: 17px;
  padding: 3px 0;
}

.cart-grand-total {
  font-size: 18px;
  padding: 5px 0;
}

.cart-item span,
.cart-total-price span,
.cart-shipping span,
.cart-tax span {
  font-weight: 600;
}