.cart {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 25px 15px;
}

.cart-title {
  font-size: 21px;
  text-align: center;
}

.cart-item {
  font-size: 18px;
  text-transform: capitalize;
  margin: 10px 0;
}

.cart-total-price,
.cart-shipping,
.cart-tax {
  font-size: 17px;
  padding: 3px 0;
}

.cart-grand-total {
  font-size: 18px;
  padding: 5px 0;
}

.cart-item span,
.cart-total-price span,
.cart-shipping span,
.cart-tax span {
  font-weight: 600;
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 14px;
}

.cart-checkout,
.cart-clear {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  color: #111111;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cart-checkout {
  background-color: #57ebadbe;
}

.cart-checkout:hover {
  background-color: #57ebad;
}

.cart-clear {
  background-color: #eb5757e3;
}

.cart-clear:hover {
  background-color: #eb5757;
}