.review-item {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 570px;
  margin: 12px auto;
  padding: 5px;
  border: 1px solid #c7c9ca;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.review-item img {
  width: 72px;
  border-radius: 5px;
}

.review-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.review-details span {
  font-size: 16px;
  font-weight: 600;
  color: #ff9900;
}

.delete-container {
  margin-right: 10px;
}

.delete-container>button {
  cursor: pointer;
  background-color: #F8CBCF;
  color: #EB5757;
  padding: 12px 14px;
  border: none;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.delete-container>button:hover {
  background-color: #EB5757;
  color: #F8CBCF;
}